<div style="width: 100%; background-color: black; position: fixed; bottom: 0;">
  <ngx-audio-player [autoPlay]="ngxAutoPlay"
                            [displayPlaylist]="false"
                            [displayTitle]="false"
                            [displayVolumeControls]="true"
                            [disablePositionSlider]="false"
                            [displayDuration]="true" [expanded]="true"
                            [playlist]="singleTrack">
          </ngx-audio-player>
</div>
