html {
  background: white;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container.flex-start {
  justify-content: flex-start;
}

.container.flex-end {
  justify-content: flex-end;
}

.container.center {
  justify-content: center;
}

.container.space-between {
  justify-content: space-between;
}

.container.space-around {
  justify-content: space-around;
}

.item {
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  padding: 30px 5px 30px 5px;
  background: white;
  border: 0px solid tomato;
  color: black;
  margin: 2px;
}

div.a {
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0px solid #000000;
  position: relative;
}

.tooltipp {
  position: relative;
  display: inline-block;
}

.tooltipp .tooltiptextt {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 0px;
  padding: 5px;
  border: 1px solid;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1;
}

.tooltipp:hover .tooltiptextt {
  visibility: visible;
}
.lyric{
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn-10 {
  background: rgb(22,9,240);
background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  color: rgb(179, 43, 43);
  border: none;
  background: transparent;
}
.btn-10:hover:after {
  background: rgb(0,3,255);
background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}
